src/main/wsdl/rapid30prod.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://api.ewaypayments.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="https://api.ewaypayments.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Rapid 3.0 allows you to use your own payment page, but transmits credit card data directly from the customer's browser to eWAY's gateway, bypassing your servers entirely. This provides enhanced security without impeding your freedom to customise the checkout process.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://api.ewaypayments.com/">
      <s:element name="CreateAccessCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="request" nillable="true" type="tns:CreateAccessCodeRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateAccessCodeRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer" />
              <s:element minOccurs="0" maxOccurs="1" name="ShippingAddress" type="tns:ShippingAddress" />
              <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfLineItem" />
              <s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:ArrayOfOption" />
              <s:element minOccurs="0" maxOccurs="1" name="Payment" type="tns:Payment" />
              <s:element minOccurs="0" maxOccurs="1" name="RedirectUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerIP" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeviceID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Method" type="tns:Method" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseRequest" />
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TokenCustomerID" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TokenCustomer">
        <s:complexContent mixed="false">
          <s:extension base="tns:Customer">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CardStartMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CardStartYear" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CardIssueNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CardName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CardExpiryMonth" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CardExpiryYear" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ShippingAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ShippingMethod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitCost" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Tax" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Option">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Payment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceReference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Method">
        <s:restriction base="s:string">
          <s:enumeration value="ProcessPayment" />
          <s:enumeration value="CreateTokenCustomer" />
          <s:enumeration value="UpdateTokenCustomer" />
          <s:enumeration value="TokenPayment" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateAccessCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateAccessCodeResult" type="tns:CreateAccessCodeResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreateAccessCodeResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AccessCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:TokenCustomer" />
              <s:element minOccurs="0" maxOccurs="1" name="Payment" type="tns:Payment" />
              <s:element minOccurs="0" maxOccurs="1" name="FormActionURL" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAccessCodeResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:GetAccessCodeResultRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAccessCodeResultRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseRequest">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AccessCode" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAccessCodeResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccessCodeResultResult" type="tns:GetAccessCodeResultResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAccessCodeResultResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AccessCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AuthorisationCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InvoiceReference" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TransactionStatus" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="TokenCustomerID" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="BeagleScore" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="Options" type="tns:ArrayOfOption" />
              <s:element minOccurs="0" maxOccurs="1" name="Verification" type="tns:VerificationResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="VerificationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CVN" type="tns:VerificationStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Address" type="tns:VerificationStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Email" type="tns:VerificationStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Mobile" type="tns:VerificationStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Phone" type="tns:VerificationStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="VerificationStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Unchecked" />
          <s:enumeration value="Valid" />
          <s:enumeration value="Invalid" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateAccessCodeSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccessCode" />
  </wsdl:message>
  <wsdl:message name="CreateAccessCodeSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccessCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccessCodeResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessCodeResult" />
  </wsdl:message>
  <wsdl:message name="GetAccessCodeResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessCodeResultResponse" />
  </wsdl:message>
  <wsdl:portType name="Rapid3.0Soap">
    <wsdl:operation name="CreateAccessCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns an access code and echoes the customer data received in the request. The access code is used for all further requests associated with this transaction.</wsdl:documentation>
      <wsdl:input message="tns:CreateAccessCodeSoapIn" />
      <wsdl:output message="tns:CreateAccessCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessCodeResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Using a previously created access code, a merchant can request all the relevant details of a transaction from eWAY.</wsdl:documentation>
      <wsdl:input message="tns:GetAccessCodeResultSoapIn" />
      <wsdl:output message="tns:GetAccessCodeResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Rapid3.0Soap" type="tns:Rapid3.0Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccessCode">
      <soap:operation soapAction="https://api.ewaypayments.com/CreateAccessCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessCodeResult">
      <soap:operation soapAction="https://api.ewaypayments.com/GetAccessCodeResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Rapid3.0Soap12" type="tns:Rapid3.0Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccessCode">
      <soap12:operation soapAction="https://api.ewaypayments.com/CreateAccessCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessCodeResult">
      <soap12:operation soapAction="https://api.ewaypayments.com/GetAccessCodeResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Rapid3.0">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Rapid 3.0 allows you to use your own payment page, but transmits credit card data directly from the customer's browser to eWAY's gateway, bypassing your servers entirely. This provides enhanced security without impeding your freedom to customise the checkout process.</wsdl:documentation>
    <wsdl:port name="Rapid3.0Soap" binding="tns:Rapid3.0Soap">
      <soap:address location="http://api-au.sandbox.ewaypayments.com/soap.asmx" />
    </wsdl:port>
    <wsdl:port name="Rapid3.0Soap12" binding="tns:Rapid3.0Soap12">
      <soap12:address location="http://api-au.sandbox.ewaypayments.com/soap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>